@include('includes/head')
</head>
  <body>
    <main>

      <div class="article">
        <h1> {{ user.name }} </h1>
        <p> Address: {{ user.address }} </p>
        <p> Email: {{ user.email }} </p>
      </div>
    </main>
@includes('includes/footer')
