@include('includes/head')
</head>

<body>
  <main>

    <div class="article">
      <h1> Items: {{ cart.items }} </h1>
      <p> Cart Total: € {{ cart.totalPrice }} </p>
      <p> Number of Items: {{ cart.numberOfItems }} </p>
    </div>

  </main>
  @includes('includes/footer')
