 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
  <body>
    <main>

      <div class="article">
        <h1> {{ product.name }} </h1>
        <h2> {{ product.description }} </h2>
        <p> € {{ product.price }} </p>
        <p> {{ product.summary }} </p>
        <a href="/products">Back to Product List</a>
      </div>
    </main>
  </body>
</html>
