@include('includes/head')
</head>
  <body>
    <main>

      <div class="article">
        <h1> Products </h1>
        <ul>
          @each(product in products)
            <li>
              <a href="/products/{{ product.id }}">{{ product.name }} - € {{ product.price }}</a>
            </li>
          @endeach
        </ul>
      </div>
    </main>
@include('includes/footer')
