 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
  <body>
    <main>

      <div class="article">
        <h1> Products </h1>
        <ul>
          @each(product in products)
            <li>
              <a href="/products/{{ product.id }}">{{ product.name }} - € {{ product.price }}</a>
            </li>
          @endeach
        </ul>
      </div>
    </main>
  </body>
</html>
